<div class="uk-grid">
    <h2>Products</h2>
</div>
<div class="uk-grid" ng-hide="products.length">
    <p>No products found for this customer.</p>
</div>
<div class="uk-grid" ng-show="products.length">
    <div class="uk-width-1-3">
        <ul class="uk-list uk-panel">
            <h3 class="uk-panel-title">Sports</h3>
            <li ng-repeat="product in products | categoryFilter: 'Sports'">
                <input type="checkbox" ng-model="product.selected" ng-click="updateBasket()">
                {{product.name}}
            </li>
        </ul>
    </div>
    <div class="uk-width-1-3">
        <ul class="uk-list uk-panel">
            <h3 class="uk-panel-title">News</h3>
            <li ng-repeat="product in products  | categoryFilter: 'News'">
                <input type="checkbox" ng-model="product.selected" ng-click="updateBasket()">
                {{product.name}}
            </li>
        </ul>
    </div>
    <div class="uk-width-1-3">
        <ul class="uk-list uk-panel">
            <h3 class="uk-panel-title">Basket</h3>
            <li ng-repeat="product in basket">
                {{product.name}}
            </li>
        </ul>
        <button class="uk-button" ng-show="basket.length" class="uk-button" type="button" ng-click="checkOut()">Check out</button>
        <p ng-hide="basket.length">Select product to add to basket</p>
    </div>
</div>
