<div class="uk-grid">
    <h2>Confirmation</h2>
</div>
<div class="uk-grid">
    <div class="uk-width-1-1">
        <p>Customer ID: {{basket.customerID}}</p>

        <p>Location Name: {{basket.location.name}}</p>

        <div class="uk-grid">
            <div class="uk-width-1-2">
                <ul class="uk-list uk-panel">
                    <h3 class="uk-panel-title">Sports</h3>
                    <li ng-repeat="product in basket | categoryFilter: 'Sports'">
                        {{product.name}}
                    </li>
                </ul>
            </div>

            <div class="uk-width-1-2">
                <ul class="uk-list uk-panel">
                    <h3 class="uk-panel-title">Sports</h3>
                    <li ng-repeat="product in basket | categoryFilter: 'News'">
                        {{product.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>